.button-wrapper {
    width: 100%;
    max-width: 250px;
    .button-outline {
        border-radius: 6px;
        display: inline-block;
        box-shadow: inset -2px 0 #fff, inset 2px 0 #fff, inset 0 -2px #fff, inset 0 2px #fff;
        .cta {
            min-width: 250px;
            text-align: center;
            cursor: pointer;
            background-color: #ec7a7a;
            background-image: linear-gradient(122deg, #fee5a5, #fea5a5 62%, #f69393 100%, #fff);
            border-radius: 6px;
            justify-content: center;
            align-items: center;
            padding: 20px 48px;
            text-decoration: none;
            transition: opacity 0.3s;
            display: flex;
            &.book-demo {
                transform: translate3d(12px, -12px, 0px) scale3d(1, 1, 1) rotateX(0deg)
                    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
                transition: transform 0.3s ease-in-out;
                .buttons-l {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    &.dark {
                        color: #222236;
                    }
                }
                &:hover {
                    transform: translate3d(6px, -6px, 0px) scale3d(1, 1, 1) rotateX(0deg)
                        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                }
                @media screen and (max-width: 767px) {
                    min-width: 260px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        max-width: 260px;
    }
}
