.faq {
    padding-top: 80px;
    padding-bottom: 80px;
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -20px;
        display: flex;
        .faq-title {
            font-size: 40px;
            font-weight: 500;
            line-height: 60px;
            @media screen and (max-width: 767px) {
                font-size: 28px;
                line-height: 45px;
            }
        }
        .accordion-wrapper {
            .MuiAccordion-root {
                background: transparent;
                border: transparent;
                padding: 0;
                display: flex;
                box-shadow: none;
                &:not(:first-child) {
                    .MuiButtonBase-root {
                        box-shadow: 0px -2px 0px rgba(255, 255, 255, 0.5);
                    }
                }
                .MuiButtonBase-root {
                    padding: 20px 0;
                    .MuiAccordionSummary-content {
                        margin: 0;
                        font-size: 32px;
                        font-weight: 500;
                        line-height: 51px;
                        transition: color 0.3s cubic-bezier(0.386, 0.096, 0, 0.991);
                        .MuiTypography-root {
                            font-family: E ukraine, sans-serif;
                            color: #fff;
                            font-size: 24px;
                            line-height: 51px;
                            font-weight: 500;
                            transition: color 0.3s cubic-bezier(0.386, 0.096, 0, 0.991);
                            &:hover {
                                color: #fee4a5;
                            }
                            .MuiAccordionSummary-expandIconWrapper {
                                color: #fff;
                                &:hover {
                                    color: #fee4a5;
                                }
                            }
                            @media screen and (min-width: 991px) {
                                font-size: 32px;
                                font-weight: 500;
                                line-height: 51px;
                            }
                        }
                    }
                    @media screen and (max-width: 479px) {
                        align-items: flex-start;
                    }
                }
                .MuiCollapse-root {
                    .MuiAccordionDetails-root {
                        padding: 0;
                        .MuiTypography-root {
                            font-family: E ukraine, sans-serif;
                            color: rgba(255, 255, 255, 0.9);
                            background-color: transparent;
                            margin-bottom: 28px;
                            padding-right: 40px;
                            font-size: 16px;
                            font-weight: 300;
                            line-height: 26px;
                            @media screen and (max-width: 991px) {
                                padding-right: 0;
                            }
                        }
                        @media screen and (max-width: 991px) {
                            overflow: hidden;
                        }
                    }
                }
            }
            @media screen and (max-width: 991px) {
                width: 100%;
                height: auto;
                max-width: 670px;
                margin-top: 44px;
                overflow: visible;
            }
            @media screen and (max-width: 767px) {
                width: 100%;
            }
            @media screen and (max-width: 479px) {
                max-width: 320px;
            }
        }
    }
    @media screen and (max-width: 991px) {
        padding-top: 50px;
    }
}
