.get-started {
    padding-top: 60px;
    padding-bottom: 264px;
    a:active,
    a:hover {
        outline: 0;
    }
    img {
        border: 0;
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
    }
    .cta_banner-wrap {
        width: 100%;
        max-width: 1200px;
        justify-content: center;
        align-items: center;
        margin-top: 170px;
        display: flex;
        position: relative;
        .cat_wrapper {
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            grid-auto-columns: 1fr;
            position: absolute;
            top: -228px;
            left: 80px;
            right: auto;
            .ovioo-cat {
                width: 295px;
                height: 228px;
            }
        }
    }
    .cta_outline {
        z-index: 2;
        width: 100%;
        max-width: 1200px;
        background-color: #2c2b46;
        border-radius: 6px;
        padding: 16px;
        position: relative;
        .gradient-c-stroke {
            background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3)),
                radial-gradient(
                    circle,
                    #31b4d0,
                    #60bfc6 23%,
                    #a06ad1 48%,
                    #fea5a5 68%,
                    #fee5a5 86%,
                    #41a9ea
                );
            border-radius: 3px;
            padding: 6px;
            .cta_container {
                width: 100%;
                background-color: #2c2b46;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 38px 0;
                display: flex;
                text-align: center;
                .cta__heading-wrapper {
                    text-align: center;
                    flex-direction: column;
                    align-items: center;
                    display: flex;
                    @media screen and (max-width: 479px) {
                        max-width: 290px;
                    }
                    .cta_heading {
                        max-width: 720px;
                        font-size: 40px;
                        font-weight: 300;
                        line-height: 60px;
                        @media screen and (max-width: 479px) {
                            padding-left: 0;
                            padding-right: 0;
                            font-size: 28px;
                            line-height: 1.6em;
                            margin-bottom: 16px;
                            font-weight: 500;
                            max-width: 720px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 767px) {
            max-width: 360px;
        }
    }
    @media screen and (max-width: 479px) {
        padding-bottom: 238px;
    }
}
