.get-started_btn-container {
    z-index: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 59px;
    display: flex;
    position: relative;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    @media screen and (max-width: 767px) {
        max-width: 271px;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 36px;
        bottom: 0;
    }
    .ghost-button-wrap {
        width: 100%;
        max-width: 280px;
        color: #fff;
        text-align: center;
        background-color: #fff;
        border-radius: 6px;
        padding: 2px;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        text-decoration: none;
        transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        &.w-inline-block {
            max-width: 100%;
            display: inline-block;
        }
        &.new-cta_7for7 {
            max-width: 288px;
            margin-right: 24px;
        }
        &.new-cta_7for7.hidden {
            display: block;
        }
        &:hover {
            color: #fee4a5;
            background-color: #fee4a5;
            background-image: linear-gradient(225deg, #f79393, #fee4a5);
        }
        .ghost-button {
            background-color: #2c2b46;
            border-radius: 6px;
            padding: 12px 28px;
            .buttons-l {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                &.dark {
                    color: #222236;
                }
            }
            &.new-cta {
                padding-top: 18px;
                padding-bottom: 18px;
            }
        }
        @media screen and (max-width: 767px) {
            max-width: 271px;
            margin-bottom: 32px;
            margin-right: 0;
        }
    }
}