.ovioo-dropdown__wrapper {
    .MuiInputBase-root {
        font-family: inherit!important;
        width: auto;
        .MuiSelect-select {
            padding: 10px 32px 10px 15px;
            display: flex;
        }
    }
    .dark & {
        .MuiInputBase-root {
            .MuiSelect-select,
            .MuiSvgIcon-root {
                color: white;
            }
        }
    }
}
.MuiButtonBase-root{
    font-family: inherit!important;
}
.dark .MuiMenu-paper {
    background: rgb(148 163 184) !important;
    color: #fff !important;
}

