.find-designer {
    background-image: url(/svg/background/main-layout-starts.svg),
        url(/svg/background/section-stars2.svg),
        url(/svg/background/section-stars.svg),
        url(/svg/background/stars-bg-3.svg);
    background-position: 35% 40%;
    background-repeat: repeat;
    background-size: 950px 700px;
}
