.find-designer {
    background-image: url(/svg/background/main-layout-starts.svg);
    background-position: -20% 50%;
    background-repeat: repeat;
    background-size: 1110px 800px;
    h2 {
        line-height: 60px;
    }
}
