.intro-container {
    margin-top: 120px;
    line-height: 83px;
    background-image: url("/svg/background/main-layout-starts.svg");
    background-position: 20% 77%;
    background-repeat: no-repeat, no-repeat;
    background-size: 1330px 1165px;
    h1 {
        font-size: 52px;
        letter-spacing: 2px;
        .gradient-h1 {
            -webkit-text-fill-color: transparent;
            background-image: radial-gradient(
                circle at 0 0,
                #f79393,
                #fee4a5 38%,
                #9ae8b0 75%,
                #5ba5d0
            );
            -webkit-background-clip: text;
        }
    }
    .subtitle {
        font-size: 20px;
        font-weight: 200;
        line-height: 28px;
    }
    .btns-wrapper {
        @media screen and (max-width: 991px) {
            display: flex;
           justify-content: center;
        }
    }
}
