.project-card {
    max-height: max-content;
    width: 250;
    margin-right: 20px;
    margin-left: 20px;
    width: 250px;
    > .MuiCardHeader-root {
        padding: 0 0 16px 0;
    }
    .MuiCardContent-root {
        .MuiAvatar-root {
            width: 100px;
            height: 100px;
        }
        .MuiCardActions-root {
            .MuiButtonBase-root,
            .MuiButtonBase-root:hover {
                font-size: 17px;
                font-weight: bold;
                text-transform: capitalize;
                letter-spacing: 0.15rem;
                border-width: 2.5px;
            }
        }
    }
}
