.dashboard-main-layout {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
    .dashboard__link {
        color: #0ea5e9;
        &:hover {
            filter: brightness(1.2);
        }
    }
}

.dashboard-primary {
    color: var(--dashboard-primary);
}

.dashboard__btn {
    background:  var(--dashboard-primary)!important;
    color: white!important;
    &:hover {
        background:  var(--dashboard-primary);
        filter: brightness(1.15);
    }
}
