.hamburger-btn {
    position: fixed;
    flex-grow: 0;
    right: 48px;
    top: 22px;
    z-index: 999;
    button {
        backdrop-filter: blur(2em);
        padding: 10px;
    }
    .burger-menu {
        background-color: rgb(34, 34, 54);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 49px;
        .close-btn-container {
            height: 88px;
        }
        .menu-container {
            margin-top: 64px;
            margin-bottom: 48px;
            .navlink {
                color: #fff;
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
            }
            .list-divider {
                background: rgba(255, 255, 255, 0.3);
            }
            .book-btn {
                max-width: 900px;
                padding: 12px 28px;
                a {
                    line-height: 20px;
                    font-size: 16px;
                }
            }
        }
    }
}
