.navbar-container-mobile {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
        skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
    width: 100%;
    height: 100px;
    background-color: transparent;
    align-items: center;
    margin-bottom: -12px;
    position: -webkit-sticky;
    top: 0;
    z-index: inherit;
    &.navbar-blur {
        backdrop-filter: blur(1.5em);
        @media screen and (max-width: 991px) {
            backdrop-filter: unset;
        }
    }
    .navbar-mobile {
        @media screen and (max-width: 991px) {
            height: 88px;
        }

        .mobile-logo {
            @media screen and (max-width: 1203px) {
                max-width: 187px;
                margin-bottom: 5px;
            }
        }
    }
    @media (min-width: 1024px) {
        display: none!important;
    }
}
