.about {
    background-image: url(/svg/background/section-stars.svg),
        url(/svg/background/section-stars2.svg);
    background-repeat: repeat;
    background-size: 950px 375px;
    background-position: 31% 50%;
    .intro {
        align-items: center;
        margin-bottom: 57px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        overflow: hidden;
        max-width: 100%;
        .container.title {
            max-width: 1200px;
            margin-top: 120px;
            h2 {
                font-size: 52px;
                letter-spacing: 3px;
                line-height: 83px !important;
                @media screen and (max-width: 991px) {
                    font-size: 30px;
                    line-height: 48px !important;
                    letter-spacing: 1px;
                }
            }
        }
        .heading-style-h2 {
            font-size: 40px;
            font-weight: 500;
            line-height: 60px;
        }
    }
    .values {
        .statistics-container {
            max-width: 850px;
            .statistics-figures {
                .statistics-number {
                    color: #fae8bc;
                    text-shadow: 0 1px 40px rgba(255, 230, 166, 0.2);
                    font-size: 56px;
                    line-height: 1em;
                }
                .about-statistics-divider {
                    width: 1px;
                    height: 56px;
                    background-color: rgba(255, 255, 255, 0.3);
                    margin-left: 48px;
                    @media screen and (max-width: 991px) {
                        margin-left: 40px;
                        margin-right: 40px;
                    }
                }
            }
            @media screen and (max-width: 991px) {
                max-width: 670px;
                justify-content: center;
            }
        }
    }
}
