.demo {
    max-width: 1200px;
    .title {
        margin-bottom: 80px;
    }
    .calendly-inline-widget {
        width: 100%;
        height: 945px !important;
        min-height: 945px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        iframe {
            max-width: 450px;
            position: relative;
            min-height: 945px;
            width: 100%;
        }
    }
}
