.demo {
    .title {
        margin-bottom: 80px;
    }
    .calendly-inline-widget {
        min-height: 945px!important;
        height: 945px!important;
        iframe {
            width: 75%;
            min-height: 945px;
            @media screen and (max-width: 991px) {
                width: 100%;
            }
        }
    }
}
