.how-it-works {
    max-width: 100%;
    .intro {
        overflow: hidden;
        max-width: 100%;
        .container.title {
            max-width: 1100px;
            margin-top: 120px;
            h2 {
                font-size: 52px;
                letter-spacing: 3px;
                line-height: 83px !important;
                @media screen and (max-width: 991px) {
                    font-size: 34px;
                    line-height: 48px !important;
                    letter-spacing: 1px;
                }
            }
            @media screen and (max-width: 991px) {
                max-width: 380px;
                margin-top: 60px;
            }
        }
        .heading-style-h2 {
            font-size: 40px;
            font-weight: 500;
            line-height: 60px;
        }
        .hero-facts-wrapper {
            width: 100%;
            max-width: 1200px;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 160px;
            margin-bottom: 80px;
            display: flex;
        }
    }
    .what-you-get {
        .MuiImageList-root {
            gap: 55px!important;
            .MuiImageListItem-root {
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                }
            }
            @media screen and (max-width: 991px) {
                gap: 30px!important;
            }
        }
    }
}
