.main-layout {
    background-image: url(/svg/background/main-layout-starts.svg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 2800px 8109px;
    background-color: #222236;
}