.portfolio {
    .MuiTabs-root {
        background-color: transparent;
        .MuiTabList-root {
            margin-top: 20px;
            .MuiTab-root {
                text-align: center;
                background-color: transparent;
                font-family: "__Rubik_261cd1", "__Rubik_Fallback_261cd1",
                    sans-serif;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.334;
                color: white;
                cursor: pointer;
                margin-top: 20px;
                &.Mui-selected,
                &:hover {
                    color: var(--secondary) !important;
                }
            }
        }
        .MuiTabPanel-root {
            padding-top: 0;
            .MuiImageList-root {
                padding-top: 3rem;
                padding-bottom: 120px;
                gap: 30px !important;
                grid-template-rows: auto auto;
                grid-template-columns: repeat(
                    auto-fit,
                    minmax(300px, 1fr)
                ) !important;
                .MuiImageListItem-root {
                    max-height: 294px;
                    width: 396px;
                    button.assets__media-card {
                        img {
                            border-radius: 8px;
                            object-fit: cover;
                        }
                    }
                    .MuiBackdrop-root {
                        background-color: rgba(0, 0, 0, 0.87);
                    }
                }
                @media screen and (min-width: 1280px) {
                    column-count: 3;
                }
                @media screen and (max-width: 1280px) {
                    column-count: 2;
                    gap: 20px !important;
                    padding-top: 2.2rem;
                    grid-template-columns: repeat(2, 1fr) !important;
                }
                @media screen and (max-width: 767px) {
                    column-count: 1;
                    padding-bottom: 0px;
                    grid-template-columns: unset !important;
                    justify-content: center;
                }
            }
        }
    }
}
