.portfolio {
    .MuiTabs-root {
        background-color: transparent;
        .MuiTabList-root {
            margin-top: 20px;
            .MuiTab-root {
                text-align: center;
                background-color: transparent;
                font-family: "__Rubik_261cd1", "__Rubik_Fallback_261cd1",
                    sans-serif;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 1.334;
                color: white;
                cursor: pointer;
                margin-top: 20px;
                &.Mui-selected,
                &:hover {
                    color: var(--secondary) !important;
                }
            }
        }
        .MuiTabPanel-root {
            padding-top: 0;
            .MuiImageList-root {
                padding-top: 3rem;
                padding-bottom: 120px;
                grid-column-gap: 3.3rem !important;
                grid-row-gap: 3.3rem !important;
                .MuiImageListItem-root {
                    button.assets__media-card {
                        img {
                            border-radius: 8px;
                        }
                    }
                    .MuiBackdrop-root {
                        background-color: rgba(0, 0, 0, 0.87);
                    }
                }
                @media screen and (max-width: 991px) {
                    padding-top: 2.2rem;
                    grid-column-gap: 2.2rem !important;
                    grid-row-gap: 2.2rem !important;
                }
                @media screen and (max-width: 767px) {
                    padding-bottom: 0px;
                    display: block;
                    grid-column: 1 / -1;
                    .MuiImageListItem-root:not(:first-child) {
                        img {
                            margin-top: 25px;
                        }
                    }
                    .MuiImageListItem-root:not(:last-child) {
                        img {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
}
