.dashboard__header {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    z-index: 1;
    .MuiToolbar-root {
        min-height: 92px;
        padding: 0px 40px;
        .toolbar-icon {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            padding: 2px;
            background-color: transparent;
            color: var(--dashboard-icon-color);
            &.opened {
                color: rgb(30 64 175);
            }
            &:hover {
                background-color: rgb(212 212 216);
                .dark & {
                    color: var(--dashboard-icon-color);
                }
            }
            .dark & {
                color: var(--dashboard-dark-icon-color);
            }
            @media screen and (min-width: 991px) {
               &.hamburger-btn {
                   display: none;
               } 
            }
        }
    }
}
