@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --secondary: #fae8bc;
    --dashboard-icon-color: var(
        --joy-palette-neutral-plainColor,
        var(--joy-palette-neutral-700, #32383e)
    );
    --dashboard-border: rgba(0, 0, 0, 0.08);
    --dashboard-dark-icon-color: rgb(203 213 225);
    --dashboard-dark-border: rgba(100, 116, 139, 0.5);
    --dashboard-bg-primary: rgb(32 33 44 / var(--tw-bg-opacity));
    --dashboard-bg-secondary: rgb(43 44 55 / var(--tw-bg-opacity));
    --dashboard-primary: #1976d2;
}

body {
    min-height: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    padding: 0 !important;
    padding-right: 0 !important;
    overflow: visible !important;
    .section {
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        position: relative;
    }
    .text-secondary {
        color: var(--secondary);
    }
    .MuiTypography-root {
        font-family: inherit;
    }
    .text-gradient {
        -webkit-text-fill-color: transparent;
        background-image: radial-gradient(
            circle at 0 0,
            #f79393,
            #fee4a5 38%,
            #9ae8b0 75%,
            #5ba5d0
        );
        -webkit-background-clip: text;
        background-clip: text;
    }
    .ovioo-card {
        --tw-text-opacity: 1;
        --tw-bg-opacity: 1;
        border-radius: 0.5rem;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        .dark & {
            color: rgb(255 255 255 / var(--tw-text-opacity));
            background-color: rgb(43 44 55 / var(--tw-bg-opacity));
        }
        &.with-shadow {
            --tw-shadow-color: #364e7e1a;
            --tw-shadow: var(--tw-shadow-colored);
            --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
                0 4px 6px -4px rgb(0 0 0 / 0.1);
            --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
                0 4px 6px -4px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
                var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            .dark & {
                --tw-shadow-color: #364e7e1a;
                --tw-shadow: var(--tw-shadow-colored);
                --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
                    0 4px 6px -4px var(--tw-shadow-color);
                box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
                    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            }
        }
    }
    .dashboard-input {
        .MuiInputBase-root {
            input,
            textarea {
                & ~ fieldset {
                    border-color: #7b91a7 !important;
                }
                &:invalid ~ fieldset {
                    border-color: "red";
                    border-width: 1;
                }
                &:valid:focus ~ fieldset {
                    border-color: var(--dashboard-primary);
                    border-left-width: 4;
                    padding: "4px !important";
                }
                .dark & {
                    color: #fff;
                }
            }
            .MuiInputAdornment-root {
                button {
                    .dark & {
                        color: #fff;
                    }
                    &.Mui-focused {
                        color: var(--dashboard-primary) !important;
                    }
                }
            }
            &:hover {
                & > fieldset {
                    border-color: #7b91a7;
                }
            }
            &.Mui-focused:hover {
                & > fieldset {
                    border-color: var(--dashboard-primary);
                }
            }
        }
        label {
            .dark & {
                color: #7b91a7;
            }
            &.Mui-focused {
                color: var(--dashboard-primary);
            }
        }
    }
    .dashboard-file-upload {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        white-space: nowrap;
        width: 1px;
    }
    .custom-scrollbar {
        overflow-y: scroll;
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            background: var(--dashboard-dark-border);
            border-radius: 5px;
            width: 8px;
        }
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-corner  {
            background-color: #f1f1f1;
        }
    }
}
