.auth-layout {
    background-image: url(/svg/background/section-stars.svg),
        url(/svg/background/section-stars2.svg), url(/svg/background/stars-bg-3.svg);
    background-position: 70% 57%;
    background-repeat: repeat;
    background-size: 900px 300px;
    background-color: #222236;
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
    .form__wrapper {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 96px 160px;
        .social-btn-group {
            button {
                min-width: 64px;
                padding: 7px 21px;
                border-radius: 6px;
                -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
                    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                border: 1px solid rgba(145, 158, 171, 0.32);
                height: 48px;
            }
        }
    }
    div,
    input,
    button {
        font-family: inherit;
    }
    .auth-btn {
        background: var(--dashboard-primary) !important;
        color: white !important;
        &:hover {
            background: var(--dashboard-primary);
            filter: brightness(1.15);
        }
    }
    a {
        cursor: pointer;
        text-decoration: none !important;
    }
}
