.chat {
    .MuiAvatarGroup-root {
        .MuiAvatar-root {
            border: none;
        }
        .MuiBadge-badge {
            background-color: #44b700;
            color: #44b700;
            box-shadow: rgb(18, 18, 18) 0px 0px 0px 2px;
            &::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                animation: 1.2s ease-in-out 0s infinite normal none
                    running ripple;
                border: 1px solid currentColor;
                content: "";
            }
        }
        @keyframes ripple {
            0% {
                transform: scale(0.8);
                opacity: 1;
            }
            100% {
                transform: scale(2.4);
                opacity: 0;
            }
        }
    }
    .messages__wrapper {
        flex: 1;
        padding-bottom: 1rem;
        .unread-msgs-bar {
            padding: 5px 0;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
            background-color: hsla(0, 0%, 100%, 0.25);
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            border-bottom: 1px solid rgba(11, 20, 26, 0.08);
            width: 100%;
            font-size: 12.5px;
            color: #111b21;
            text-transform: uppercase;
        }
        .message-box {
            --tw-space-y-reverse: 0;
            margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
            margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
            padding-right: 20px;
            padding-left: 20px;
            .rce-container-mbox {
                .rce-mbox {
                    margin: 0;
                    .rce-mbox-body {
                        .rce-mbox-photo,
                        .rce-mbox-video {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .chat-chevron-up {
            position: absolute;
            bottom: 18px;
            right: 30px;
            button {
                z-index: 0;
                background-color: var(--dashboard-dark-icon-color);
            }
            .MuiBadge-badge {
                background: #0ea5e9;
                top: 4px;
                right: 4px;
            }
        }
    }
    .chat__input {
        textarea {
            min-height: 46px;
        }
    }
    em-emoji-picker {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
