.chat {
    height: 600px;
    max-height: 600px;
    .messages__wrapper {
        padding-bottom: 1rem;
        min-height: 100%;
        .unread-msgs-bar {
            padding: 5px 0;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
            background-color: hsla(0, 0%, 100%, 0.25);
            border-top: 1px solid rgba(255, 255, 255, 0.15);
            border-bottom: 1px solid rgba(11, 20, 26, 0.08);
            width: 100%;
            font-size: 12.5px;
            color: #111b21;
            text-transform: uppercase;
        }
        .message-box {
            --tw-space-y-reverse: 0;
            margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
            margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
            padding-right: 20px;
            padding-left: 20px;
            .rce-container-mbox {
                .rce-mbox {
                    margin: 0;
                    .rce-mbox-body {
                        .rce-mbox-photo,
                        .rce-mbox-video {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .chat-chevron-up {
            position: absolute;
            bottom: 18px;
            right: 30px;
            button {
                z-index: 0;
                background-color: var(--dashboard-dark-icon-color);
            }
            .MuiBadge-badge {
                background: #0ea5e9;
                top: 4px;
                right: 4px;
            }
        }
    }
    .chat__input {
        textarea {
            min-height: 46px;
        }
    }
    em-emoji-picker {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
