.task-modal {
    .MuiPaper-root {
        &::-webkit-scrollbar-track {
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
            .dark & {
                background-color: gray;
            }
        }
        .ovioo-card {
            background-color: #f2f2f2;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            .dark & {
                background-color: var(--dashboard-dark-bg);
            }
        }
        .asset-list .MuiCard-root,
        .add-asset-card {
            width: 150px;
            height: 129.75px;
            padding: 0;
        }
        .task-modal__header {
            .task-type__dropdown {
                max-width: 235px !important;
                width: 235px !important;
                .MuiInputBase-formControl {
                    width: 100%;
                }
            }
        }
        .task-modal__body {
            .assets__default-card {
                .default-card__text {
                    font-size: 1.5rem;
                    max-height: 100%;
                }
            }
        }
        .ovioo-dropdown__wrapper {
            .MuiInputBase-formControl {
                width: fit-content;
            }
            &.project-dropdown {
                .MuiInputBase-formControl {
                    width: 250px;
                }
            }
            &.task-status-dropdown {
                width: 147px;
                .MuiInputBase-formControl {
                    width: 147px;
                }
            }
        }
    }
}
