.task-modal {
    .asset-list .MuiCard-root,
    .add-asset-card {
        width: 150px;
        height: 129.75px;
        padding: 0;
    }
    .task-modal__header {
        .task-type__dropdown {
            max-width: 235px !important;
            width: 235px !important;
            margin-right: 16px;
            margin-left: 16px;
            .MuiInputBase-formControl {
                width: 100%;
            }
        }
        .MuiAvatarGroup-root {
            .MuiAvatar-root {
                border: none;
            }
            .MuiBadge-badge {
                background-color: #44b700;
                color: #44b700;
                box-shadow: rgb(18, 18, 18) 0px 0px 0px 2px;
                &::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    animation: 1.2s ease-in-out 0s infinite normal none running
                        ripple;
                    border: 1px solid currentColor;
                    content: "";
                }
            }
            @keyframes ripple {
                0% {
                    transform: scale(0.8);
                    opacity: 1;
                }
                100% {
                    transform: scale(2.4);
                    opacity: 0;
                }
            }
        }
    }
    .task-modal__body {
        .assets__default-card {
            .default-card__text {
                font-size: 1.5rem;
                max-height: 100%;
            }
        }
    }
    .ovioo-dropdown__wrapper {
        .MuiInputBase-formControl {
            width: fit-content;
        }
        &.project-dropdown {
            .MuiInputBase-formControl {
                width: 250px;
            }
        }
        &.task-status-dropdown {
            width: 147px;
            .MuiInputBase-formControl {
                width: 147px;
            }
        }
    }
}
